@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  color: #831843;
  background-color: #fdf2f8;
}

.font-fancy {
  font-family: "Pacifico", cursive;
}
